body{
    margin: 0;
    padding: 0;
    background:white;
    
   
}
.scioal-icon-bar{
    background: #928c91;
    width: 100%;
}
.inner-icon-bar{
    min-height: 30px;
    width: 80%;
    margin: 0 auto;

}
.icon-bar{
    width: 50%;
    float: left;
    color: white;
    padding-top: 7px;
}
.contact-info{
   
    width: 50%;
    float: left;
    text-align: right;
    color: white;
    padding-top: 6px
}
.nav-br{
    background: white;  
}
.iner-nav{
    min-height: 50px;
    width: 80%;
    margin: 0 auto;
    background:white;
}
.logo{
    width: 15%;
    float: left;
   
}
#nav{
    float: left;
    width:85%;
    
}
#nav ul{
    background: #ccc;
    float: left;
}

#nav li {
    float: left;
    position: relative;
    list-style: none;
    width:150px;

}
#nav a {
    display: block;
    text-decoration: none;
}
#nav ul ul {
    position: absolute;
    left:0;
    top:100%;
    visibility: hidden;
}
#nav ul ul ul {
    left:100%;
    top:0
}
#nav li:hover > ul{
    visibility: visible;
}
